.header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/BlackBackGround.png");
    background-size: 150%;
    font-size: 1.5rem;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.menu-items {
    display: flex;
}

.menu-link {
    width: 100px;
}

a {
    color:white;
}

.menu-link, .header-title {
    background: rgba(104, 104, 104, 0.2);
    border-radius: 2px;
    padding: 8px;
    text-align: center;
    margin: 10px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
}